
.navbar{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    margin: auto;
}

.nav_logo a {
    text-decoration: none;
    font-size: 30px;
    margin: 15px;
    color:rgb(51, 42, 177);
    font-family: 'Courier New', monospace;
    text-decoration: none;
}

.nav_items a {
    margin: 15px;
    color:rgb(51, 42, 177);
    font-size: 20px;
    font-family: 'Courier New', monospace;
    position: relative;
    text-decoration: none;
}
.nav_toggle{
    display: none;
}

.nav_items a:hover{

    border-radius: 5px;
    height: 50px;
    color:white;
    font-size: 23px;
  
}
.nav_logo a:hover{
    color: white;
    font-size: 32px;
}



@media (max-width: 768px){
    .nav_toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav_items{
        position: absolute;
        top:60px;
        left: 0;
       /* background-color: beige;*/
       background: linear-gradient(to bottom, #e2f4fc, #013450);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .nav_items.open {
        transform: translateX(0)!important
    }
    
    .nav_toggle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
    }
    
    .nav_toggle.open > span:nth-child(2){
        display: none;
    }
    
    .nav_toggle.open > span:nth-child(3){
        transform: rotate(-45deg) translate(-5px,1px);
    }
    .nav_toggle span {
        width: 30px;
        height: 4px;
        background-color: black;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin:  5px 0px;
        transition: all 0.2s linear;
    }
    .nav_items a:hover{

        border-radius: 5px;
        height: 50px;
        color:rgb(51, 42, 177);
        font-size: 23px;
      
    }

    .nav_logo a:hover{
        color:rgb(51, 42, 177);
        font-size: 32px;
    }



    
}
