body {
/*background: linear-gradient(to bottom, #e2f4fc, #013450);*/
background: linear-gradient(to bottom, #c5d6dd, #013450, #88b0c2 );
background-attachment: fixed;
background-size: cover;

}

@media (max-width: 768px) {
    body {
        max-width: 768px;
       
    }
}

@media (max-width: 412px) {
    body {
        max-width: 412px;
       
    }
}